* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.but {
  background-color: blue;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
}

.but:hover {
  opacity: 1;
}

.input {
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  width: 75%;
  margin-left: 10px;
}

.non-footer {
  min-height: calc(100vh - 50px);
}

.footer {
  font-size: 15px;
  color: white;
  text-align: center;
  background-color: #333;
  line-height: 50px;
}
